{% extends 'base.html.twig' %}

{% block title %}New Energy{% endblock %}

{% block body %}
    <h1>Create new Energy</h1>
<turbo-frame id="energies">
    {{ include('energy/_form.html.twig') }}

    </turbo-frame>
{% endblock %}
