{% extends 'base.html.twig' %}

{% block title %}{{ "menu.home"|trans }}{% endblock %}

{% block body %}

    <div class="pagetitle">
        <h1>{{ 'dashboard.hello'|trans }} {{ app.user.name }}</h1>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    {% include 'home/section/_newClientsStats.html.twig' %}

                    {% include 'home/section/_totalActifStats.html.twig' %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
