# compose.override.yaml
services:
  php:
    image: !reset null
    build:
      dockerfile: ./docker/php/Dockerfile
      target: dev
      args:
        - USER_ID=${HOST_USER_ID:-33}
        - GROUP_ID=${HOST_GROUP_ID:-33}
    volumes:
      - .:/var/www/website
    environment:
      - COMPOSER_MEMORY_LIMIT=-1
      - APP_ENV=dev

  nginx:
    image: !reset null
    build:
      dockerfile: ./docker/nginx/Dockerfile
      target: dev
    ports:
      - "8080:80" # Port standard pour le dev local

  mailer:
    image: mailhog/mailhog
    ports:
      - '8025:8025'
      - '1025:1025'
    restart: unless-stopped

