{% extends 'base.html.twig' %}

{% block title %}{{ 'invitation_link.expired_title'|trans }}{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="py-6">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">{{ 'invitation_link.expired'|trans }}</strong>
                <span class="block sm:inline">{{ 'invitation_link.expired_message'|trans }}</span>
            </div>
        </div>
    </div>
{% endblock %}
