{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col">
                <h1 class="h3">{{ 'client.new'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'client/_form.html.twig' with { 'form': form, 'button_label': 'client.submit.create'|trans } %}
            </div>
        </div>
    </div>

    <datalist id="city-list"></datalist>
    <datalist id="birthplace-city-list"></datalist>
{% endblock %}