{% extends 'base.html.twig' %}

{% block title %}New Comment
{% endblock %}

{% block body %}
	<h1>Create new Comment</h1>
	<turbo-frame id="comment">
		<div class="overlay" id="comment-overlay">
			<div class="overlay-content">
				{{ include('comment/_form.html.twig') }}
			</div>
		</div>
	</turbo-frame>

	<a href="{{ path('app_comment_index') }}">back to list</a>
{% endblock %}
