{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans %}emails.verify_email.text{% endtrans %}
    </p>
    <p class="text-center">
        <a href="{{ signedUrl }}" class="btn btn-primary">{% trans %}emails.verify_email.button{% endtrans %}</a>
    </p>
{% endblock %}
