{% extends 'simple_base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if clientLogin.powensUser is not null %}
        <div class="m-5">
            <a class="btn btn-primary m-5" data-turbo="false" href="{{ path('app_client_access_powens_connect') }}">
                Connect
            </a>
            <a class="btn btn-primary m-5" data-turbo="false" href="{{ path('app_client_access_powens_manage') }}">
                Manage
            </a>
        </div>
    {% endif %}
{% endblock %}
