{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
    <p>
        {% trans with {'%clientFullName%': clientFullName, '%modifierFullName%': modifierFullName} %}
            emails.collaborators.notify_client_delete.text
        {% endtrans %}
    </p>
{% endblock %}
