{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans %}emails.collaborators.notify_new_collaborator.text.created{% endtrans %}
        {% trans %}emails.collaborators.notify_new_collaborator.text.password{% endtrans %}
    </p>
    <p class="text-center">
        <a href="{{ url('app_reset_password', {token: resetToken}) }}"
           class="btn btn-primary">{% trans %}emails.collaborators.notify_new_collaborator.text.login{% endtrans %}</a>
    </p>
    <p>{% trans with {'%date%': expiresAt} %}reset_password.email.expiration{% endtrans %}</p>
{% endblock %}
