{% extends 'base.html.twig' %}

{% block title %}
    {{ "customer.edit"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "customer.edit"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ include('customer/_form.html.twig', {'button_label': "update"|trans }) }}

                    {{ include('customer/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}