{% extends 'base.html.twig' %}

{% block title %}{{ 'client.index'|trans }}{% endblock %}

{% block body %}
<form action="{{ path('client_import_index') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="penelope_file">
    <button type="submit">Importer</button>
</form>
{% endblock %}