{% extends 'base.html.twig' %}

{% block title %}Hello ClientAccessController!{% endblock %}

{% block body %}
    <div class="m-5">
        <a class="btn btn-primary m-5" data-turbo="false" href="{{ path('app_manage_client_access_create_powens', {id: clientLogin.id}) }}">
            Create Powens access
        </a>
    </div>
{% endblock %}
