{% extends 'base.html.twig' %}

{% block title %}Edit BusinessEntity{% endblock %}

{% block body %}
    <h1>Edit BusinessEntity</h1>

    {{ include('business_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_business_entity_index') }}">back to list</a>

    {{ include('business_entity/_delete_form.html.twig') }}
{% endblock %}
