{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4" data-controller="financial-asset">
        <h1>Select Category and Nature</h1>
        {{ form_start(form) }}

        {% if form.category is defined %}
            {{ form_row(form.category) }}
        {% endif %}

        {% if form.nature is defined %}
            {{ form_row(form.nature) }}
        {% endif %}

        <button class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}