{% extends 'base.html.twig' %}

{% block title %}{{ 'client.new'|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle d-flex justify-content-between">
        <h1>{{ 'client.new'|trans }}</h1>
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
            <i class="bi bi-file-earmark-plus"></i> <span class="d-none d-sm-inline">{{ 'button.add_supporting_documents'|trans }}</span>
        </button>
    </div>
    <section class="section">
        <div class="card p-4">
                <div class="card-body">
                    {% include 'client/_form.html.twig' with { 'form': form, 'button_label': 'client.submit.create'|trans } %}
                </div>

            <datalist id="city-list"></datalist>
            <datalist id="birthplace-city-list"></datalist>
        </div>
    </section>
{% endblock %}
