{% extends 'base.html.twig' %}

{% block title %}New Contact
{% endblock %}

{% block body %}
	<h1>Create new Contact</h1>
	<turbo-frame id="contact">
		<div class="overlay" id="contact-overlay">
			<div class="overlay-content">
				{{ include('contact/_form.html.twig') }}
			</div>
		</div>
	</turbo-frame>

	<a href="{{ path('app_contact_index') }}">back to list</a>
{% endblock %}
