{% extends 'base.html.twig' %}

{% block title %}New Company
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "Create new Company"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ include('company/_form.html.twig') }}
                </div>

                <a class="btn btn-primary mt-4" href="{{ path('app_company_index') }}">{{ "button.back"|trans }}</a>
                <div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
