{# Actions.html.twig #}
<div {{ attributes.defaults({class: 'd-flex gap-2 justify-content-end'}) }}>
    {% if this.isActionAvailable('show') %}
        <twig:Button
                link="{{ path(showRoute, {'id': entity.id}) }}"
                theme="primary"
                size="sm"
                :outline="true"
                icon="eye"
                :attributes="{'title': 'action.show'|trans}|merge(this.getActionAttributes('show'))"
        />
    {% endif %}

    {% if this.isActionAvailable('edit') %}
        <twig:Button
                link="{{ path(editRoute, {'id': entity.id}) }}"
                theme="primary"
                size="sm"
                :outline="true"
                icon="pencil-square"
                :attributes="{'title': 'action.edit'|trans}|merge(this.getActionAttributes('edit'))"
        />
    {% endif %}

    {% if this.isActionAvailable('delete') %}
        <twig:DeleteButton
                :deleteRoute="deleteRoute"
                :deleteRouteParams="this.getDeleteRouteParams()"
                :entityId="entity.id"
                size="sm"
                :outline="true"
                :attributes="this.getActionAttributes('delete')"
        />
    {% endif %}
</div>