{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans with {'%userFullName%': userFullName} %}emails.client_access.login.text{% endtrans %}
    </p>
    <p>
        {% trans with {'%email%': user_email} %}emails.client_access.login.email{% endtrans %}
        <br>
    </p>
    <p>
        {% trans %}reset_password.email.account{% endtrans %}
    </p>
    <a href="{{ url('app_forgot_password_request', {'email': user_email}) }}" class="btn btn-primary">
    {% trans %}reset.page_title{% endtrans %}
</a>
{% endblock %}

