{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans with {'%userFullName%': userFullName} %}emails.client_access.powens.created.text{% endtrans %}
        <br>
        {% trans %}emails.client_access.powens.created.link{% endtrans %}
    </p>
    <p class="text-center">
        <a href="{{ url('app_client_access_powens_connect') }}" class="btn btn-primary">{% trans %}emails.client_access.powens.created.button{% endtrans %}</a>
    </p>
{% endblock %}
