{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans %}emails.prospect.invitation_client_created.text{% endtrans %} .
        {% trans %}emails.prospect.invitation_client_created.link{% endtrans %} :
    </p>
    <p class="text-center">
        <a href="{{ url('app_client_show', {id: id}) }}" class="btn btn-primary">{% trans %}emails.prospect.invitation_client_created.button{% endtrans %}</a>
    </p>
{% endblock %}
