{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans %}emails.prospect.invitation_by{% endtrans %} {{ inviter_name }}.
        {% trans %}emails.prospect.complete_information{% endtrans %} :
    </p>
    <p class="text-center">
        <a href="{{ link }}" class="btn btn-primary">{% trans %}emails.prospect.link_informations{% endtrans %}</a>
    </p>
{% endblock %}
