{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans with {'%clientName%': clientName} %}
            emails.prospect.invitation_client_created.prospect_text
        {% endtrans %}
    </p>
    <p>
        {% trans with {'%userFullName%': userFullName} %}
        emails.prospect.invitation_client_created.prospect_thank
        {% endtrans %}
    </p>
{% endblock %}
