<!DOCTYPE html>
<html lang="{{ app.request.locale|default(locale) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans %}prospect_email.invitation{% endtrans %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
        }
        .card {
            margin-bottom: 30px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
        }
        .card-header,
        .card-footer {
          border-color: #ebeef4;
          background-color: #fff;
          color: #798eb3;
          padding: 15px;
        }
        .card-title {
          padding: 20px 0 15px 0;
          font-size: 18px;
          font-weight: 500;
          color: #012970;
          font-family: "Poppins", sans-serif;
        }
        .card-title span {
          color: #899bbd;
          font-size: 14px;
          font-weight: 400;
        }
        .card-body {
          padding: 0 20px 20px 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid #e9ecef;
        }
        .header img {
            max-width: 150px;
        }
        .content {
            padding: 20px 0;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .footer {
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid #e9ecef;
            font-size: 12px;
            color: #777;
        }
    </style>
</head>
<body>
<div class="card">
    <div class="card-header">
        <img src="https://via.placeholder.com/150" alt="Logo">
    </div>
    <div class="card-body ">
        <h1 class="card-title">{% trans %}emails.hello{% endtrans %},</h1>
        {% block email_content %}
        {% endblock %}
        <p>{% trans %}emails.thank{% endtrans %}.</p>
    </div>
    <div class="card-footer">
        <p>&#xA9; 2024 Kiora. {% trans %}emails.all_rights{% endtrans %}.</p>
    </div>
</div>
</body>
</html>
